.product-image-container {
    max-width: 25em;
    max-height: 25em;
}

.product-image {
    width:100%;
    object-fit: contain;
}

.product-info {
    padding: 3% 10%;
}

.product-text-info {
    padding-left: 5em;
}

.product-price-review {
    padding-top: 2em;
}

.product-list-filter-container {
    margin: 0 2em 0 6em;
    padding: 1em 1em;
    background-color: rgb(189, 189, 189);
    border-radius: 0.2em;
    height: 500px;
    
}

.product-list-page-container {
    padding-right: 10%;
}

.cart-button {
    width: 20em;
}

.edit-product-modal {
    background-color: white;
    position: fixed;
    top: 20%;
    left: 20%;
    padding: 2em 2em;
}