.button-tab {
    width: 20em;
}

.acc-button {
    height: 7em;
}


.information-tab {
    margin-left: 5em;
    max-width: 75%;
}

.account-info-field {
    margin: 2em 0;
    text-align: right;
}

.logout-confirmation-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 1em;
}

.modal {
    display:fixed;
    top:50%;
    left:50%;
    padding: 3em;
    margin: 15% 37%;
}

.select-product-modal {
    margin: 15%;
    padding: 2em;
}

.modal-button-container {
    padding-top: 2em;
}